<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="https://threejs.org/build/three.js" />
    <link rel="stylesheet" href="../styles/planet.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'>
	</script>
	<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'>
    </script>
</head>
<body>
    <div>
        <section id="loading-screen">
        <div id="loader"></div>
        </section>
        <div id="planet"></div>
    </div>

    <script type="module" src="/scripts/earth.js" defer></script>
</body>
</html>