<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/font.css" />
    <link rel="stylesheet" href="/styles/wybory.css" />
</head>
<body>
    <div id="root">
        <section id="stats-container">
            <div id="earth">

            </div>
            <div id="stats">
                <progress value="23" max="100" id="temperatury"></progress>
                <progress value="50" max="100" id="zalesienie"></progress>
                <progress value="41" max="100" id="poziom-wody"></progress>
                <progress value="64" max="100" id="zanieczyszczenie"></progress>
            </div>
        </section>
        <main>
            <main>

        </main>
    </div>
</body>
</html>