:root {
    --stats-height: 35vh;
    --options-height: 60vh;
    --box-width: 50vw;
    --earth-width: 35vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-image: radial-gradient(circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90%); */
    background-image: url("../images/background.png");
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#stats-container {
    display: flex;
    flex-direction: row;
    height: var(--stats-height);
    width: var(--box-width);
    margin-top: 2vh;
    margin-bottom: 3vh;
}

#stats-container #earth {
    display: flex;
    width: var(--earth-width);
    height: 100%;
}

#stats-container #stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: -5%;
    height: 100%;
    width: calc(95% - var(--earth-width));
}

.barDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#stats-container #stats progress {
    width: 100%;
    height: 15%;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#stats-container #stats progress::-webkit-progress-bar {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 12px;
}

#stats-container #stats #temperature::-webkit-progress-value {
    border-radius: 10px;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #d4711f, #f44);
}

#stats-container #stats #wood-level::-webkit-progress-value {
    border-radius: 10px;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #1fd470, rgb(21, 168, 58));
}

#stats-container #stats #water-level::-webkit-progress-value {
    border-radius: 10px;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #1f5ed4, rgb(21, 90, 168));
}

#stats-container #stats #contamination::-webkit-progress-value {
    border-radius: 10px;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #303030, rgb(221, 218, 29));
}

#stats-container #stats #tension::-webkit-progress-value {
    border-radius: 10px;
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #303030, rgb(103, 29, 221));
}

main {
    display: flex;
    flex-direction: column;
    /* background: rgba(255, 255, 255, 0.1); */
    background: transparent;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    height: var(--options-height);
    width: var(--box-width);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
}

#question {
    line-height: 48px;
    font-weight: 500;
    font-size: 32px;
    font-weight: 500;
    text-decoration: none;
    color: #eeeeee;
    text-shadow: 0 0 4px #000000;
}

#options {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.option {
    width: 75%;
    height: 4rem;
    margin-bottom: 1%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.32);
    font-size: 24px;
    color: #eeeeee;
    text-shadow: 0 0 2px #000000;
    transition: transform 100ms linear;
}

.option:hover:enabled {
    cursor: pointer;
    transform: scale(1.04);
    transition: transform 100ms linear;
}

.option:disabled {
    cursor: not-allowed;
    background: rgba(16, 16, 16, 0.2);
}

#extra {
    font-size: 18px;
    color: #eeeeee;
    text-shadow: 0 0 2px #000000;
}
