body {
    margin: 0;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

body::-webkit-scrollbar {
    width: 8px;
}

body.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #eee;
}

::-webkit-scrollbar-thumb {
    background: #1d1c1e;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

h1, h2, h3 {
    line-height: 48px;
    font-weight: 500;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: 0;
    font-variant-ligatures: 0;
    font-variant-caps: 0;
    font-variant-numeric: 0;
    font-variant-east-asian: 0;
    font-weight: 0;
    font-stretch: 0;
    font-size: 0;
    font-family:0 ;
    text-rendering: auto;
    color: #000000;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: #ffffff;
    border-image: initial;
}

button:disabled {
    opacity: 0.9;
    cursor: not-allowed !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    padding: 1% 10%;
}

footer {
    display: flex;
    flex-direction: column;
    color:white;
}

#logo-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8%;
    text-decoration: none;
    color: #202020;
}

#nav-container ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#nav-container li {
    list-style: none;
    padding-left: 30px;
}

#nav-container li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333136;
    font-size: 24px;
    letter-spacing: 2px;
}

#nav-container li a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    padding: 3% 10%;
}

#banner-container {
    display: flex;
    background-image: url(../images/earth_gif.gif);
    filter: drop-shadow(0 0 4px white);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 40%;
    min-height: 70vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.18);
}
#content {
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
}

#banner-text {
    width: 50%;
    margin-left: 7.5%;
    margin-top: 5%;
    text-align: left;
    color: #ffffff;
    text-shadow: 1px 1px 64px #132647;
}

#banner-text h1 {
    width: 100%;
    line-height: normal;
}

#banner-text p {
    width: 100%;
    font-size: 20px;
}

#banner-text-more-btn
{
    background-color: #ffffff;
    color: #1d1c1e;
    border: none;
    padding: 20px 30px;
    font-size: 17px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 2%;
}

#banner-text-more {
    display: none;
}

#main-footer {
    background-color: #1d1c1e;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    margin-top: 4%;
    z-index: 0;
    justify-content: space-around;
    padding-bottom: 2%;
}

